@page "/session/join"
@using StoryEstimate.Models
@using StoryEstimate.Services.Abstract
@inject NavigationManager NavManager
@inject ISessionService SessionManager

<form>
    <h2 style ="font-family: 'MaryAnn-Bold', sans-serif;">Join a private session</h2>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Session URL" id="joinSession" @bind="_sessionId">
    </div>
    <hr />
    <button type="submit" class="btn btn-primary" @onclick="JoinExistingSession">Join</button>
</form>

@code {

    private string? _sessionId;

    private async Task JoinExistingSession()
    {
        NavManager.NavigateTo(_sessionId, true);
    }
}